@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";

:root {
	font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
	/* line-height: 1.5; */
	/* font-weight: 400;  */
	background-color: #0b0c0f;
}

html {
	scroll-behavior: smooth; /* Ensure smooth scrolling */
}

::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-track {
  background: #0B0C0F; 
  margin-top: 85px;
}

::-webkit-scrollbar-thumb {
  background: #ff7800; 
  border-radius: 10px;
}

::-webkit-scrollbar-thumb:hover {
  background: #e66a00; 
}

html {
  scrollbar-width: thin;
  scrollbar-color: #ff7800 #0B0C0F;
}
